{{#> page pageTitle="Homepage"}}
  <div class="container my-4">
    
  </div>
  <div class="my-6">
    {{> progress
      progressLabel="JavaScript module progress"
      progressCurrent=3
      progressEnd=51
      showProgressValue=true
    }}
  </div>
{{/page}}
