{{! arguments: }}
{{! linkPath! }}
{{! linkLabel! }}
<li>
  <a
    href="{{linkPath}}"
    class="block p-2 text-gray-900 rounded hover:bg-gray-100 sm:hover:bg-transparent sm:border-0 sm:hover:text-blue-700 sm:p-0"
  >
    {{linkLabel}}
  </a>
</li>